USE [master]
GO
/****** Object:  Database [db_AgenciaCarros]    Script Date: 8/03/2025 21:21:53 ******/
CREATE DATABASE [db_AgenciaCarros]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_AgenciaCarros', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\db_AgenciaCarros.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db_AgenciaCarros_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\db_AgenciaCarros_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_AgenciaCarros].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_AgenciaCarros]
GO
/****** Object:  Table [dbo].[tblClientes]    Script Date: 8/03/2025 21:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblClientes](
	[ClienteID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Apellido] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Telefono] [nvarchar](20) NULL,
	[Estado] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ClienteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblVehiculos]    Script Date: 8/03/2025 21:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblVehiculos](
	[VehiculoID] [int] IDENTITY(1,1) NOT NULL,
	[Marca] [nvarchar](50) NOT NULL,
	[Modelo] [nvarchar](50) NOT NULL,
	[Año] [int] NOT NULL,
	[Precio] [decimal](18, 2) NOT NULL,
	[Estado] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[VehiculoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblVentas]    Script Date: 8/03/2025 21:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblVentas](
	[VentaID] [int] IDENTITY(1,1) NOT NULL,
	[VehiculoID] [int] NULL,
	[ClienteID] [int] NULL,
	[FechaVenta] [date] NOT NULL,
	[Monto] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VentaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VistaIncisoA]    Script Date: 8/03/2025 21:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VistaIncisoA] AS
select cli.Nombre, cli.Apellido, vehi.Precio
from tblVentas ven
inner join 
tblVehiculos vehi
on vehi.VehiculoID = ven.VehiculoID
inner join 
tblClientes cli
on cli.ClienteID = ven.ClienteID
where vehi.Precio > 20000;

GO
/****** Object:  View [dbo].[VistaIncisoB]    Script Date: 8/03/2025 21:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VistaIncisoB] AS
SELECT cli.Nombre, cli.Apellido, SUM(ven.Monto) AS MontoTotalGastado
FROM tblVentas ven
INNER JOIN tblVehiculos vehi ON vehi.VehiculoID = ven.VehiculoID
INNER JOIN tblClientes cli ON cli.ClienteID = ven.ClienteID
GROUP BY cli.Nombre, cli.Apellido;
GO
/****** Object:  View [dbo].[VistaIncisoC]    Script Date: 8/03/2025 21:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VistaIncisoC] AS
SELECT ven.VentaID, cli.Nombre, cli.Apellido, vehi.Marca, vehi.Modelo, ven.FechaVenta, ven.Monto
FROM tblVentas ven
INNER JOIN tblVehiculos vehi ON vehi.VehiculoID = ven.VehiculoID
INNER JOIN tblClientes cli ON cli.ClienteID = ven.ClienteID;
GO
/****** Object:  View [dbo].[VistaIncisoD]    Script Date: 8/03/2025 21:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VistaIncisoD] AS
SELECT cli.ClienteID, cli.Nombre, cli.Apellido, cli.Email, cli.Estado, 
   COUNT(DISTINCT ven.VentaID) AS Compras
FROM tblVentas ven
INNER JOIN tblClientes cli ON cli.ClienteID = ven.ClienteID
GROUP BY cli.ClienteID, cli.Nombre, cli.Apellido, cli.Email, cli.Estado
HAVING COUNT(DISTINCT ven.VentaID) > 1;
GO
/****** Object:  View [dbo].[VistaIncisoE]    Script Date: 8/03/2025 21:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VistaIncisoE] AS
SELECT Top 1000 VehiculoID, Marca, Modelo, Año, Precio, Estado
FROM tblVehiculos
WHERE LOWER(Estado) = 'disponible'
ORDER BY Precio ASC;
GO
ALTER TABLE [dbo].[tblVentas]  WITH CHECK ADD FOREIGN KEY([ClienteID])
REFERENCES [dbo].[tblClientes] ([ClienteID])
GO
ALTER TABLE [dbo].[tblVentas]  WITH CHECK ADD FOREIGN KEY([VehiculoID])
REFERENCES [dbo].[tblVehiculos] ([VehiculoID])
GO
/****** Object:  StoredProcedure [dbo].[usp_vehiculos_delete]    Script Date: 8/03/2025 21:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*===========================================================================================================
=============================================================================================================*/

CREATE PROCEDURE [dbo].[usp_vehiculos_delete]
	(
	@VehiculoID int
	)
AS
BEGIN
	
	SET NOCOUNT ON;

	DELETE FROM tblVehiculos
	WHERE VehiculoID = @VehiculoID

END
GO
/****** Object:  StoredProcedure [dbo].[usp_vehiculos_insertar]    Script Date: 8/03/2025 21:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*===========================================================================================================
=============================================================================================================*/

CREATE PROCEDURE [dbo].[usp_vehiculos_insertar]
	(
	@Marca varchar (50),
	@Modelo varchar (50),
	@Año int,
	@Precio decimal (18,2),
	@Estado varchar (50)
	)
AS
BEGIN
	
	SET NOCOUNT ON;

	INSERT INTO tblVehiculos
	(
	Marca,
	Modelo,
	Año,
	Precio,
	Estado
	)
	VALUES
	(
	@Marca,
	@Modelo,
	@Año,
	@Precio,
	@Estado
	)

END
GO
/****** Object:  StoredProcedure [dbo].[usp_vehiculos_select]    Script Date: 8/03/2025 21:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<josvin Rene Ventura Salguero>
-- Create date: <25/02/2025>
-- Description:	<Mostrar y CRUD>
-- =============================================
CREATE PROCEDURE [dbo].[usp_vehiculos_select]
AS
BEGIN
	
	SET NOCOUNT ON;

   select * 
   from tblVehiculos

END
GO
/****** Object:  StoredProcedure [dbo].[usp_vehiculos_update]    Script Date: 8/03/2025 21:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*===========================================================================================================
=============================================================================================================*/

CREATE PROCEDURE [dbo].[usp_vehiculos_update]
	(
	@VehiculoID int,
	@Marca varchar (50),
	@Modelo varchar (50),
	@Año int,
	@Precio decimal (18,2),
	@Estado varchar (50)
	)
AS
BEGIN
	
	SET NOCOUNT ON;

	UPDATE tblVehiculos
	SET Marca = @Marca,
		Modelo = @Modelo,
		Año = @Año,
		Precio = @Precio,
		Estado = @Estado
	WHERE VehiculoID = @VehiculoID

END
GO
USE [master]
GO
